.main {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper-catalog {
  display: flex;
  height: 100%;
  width: 20%;
}

.wrapper-cards {
  display: flex;
  height: 100%;
}
